:root{ /*== Dat bien ==*/
    --primary-color: #FF6464;
    --secondary-color: #FF6464;
    --dark-color:  #21243D;
    --light-color:  #8695A4;
    --white-color: #fff;
}

*{
    box-sizing: inherit;
}

html{
    /* line-height: 1.6rem; */
    font-size: 62.5%;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}

.row.reverse{
    flex-wrap: wrap-reverse !important;
}

.btn{
    font-size: 2rem;
    line-height:29px;
    font-weight:500;
    height: 48px;
    width:212px;
    color: #fff;
    background-color:var(--primary-color);
}
/* 
.col-12{
    max-width: 375px;
} */